<div class="card border-primary mb-3">
  <div class="card-header">Libros</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de libros</h5>

    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink] = "['/libros/form']">Añadir libro</button>
    </div>

    <ng-template [ngIf]="adapt == 0">
      <table class="table table-bordered table-striped table-responsive">
        <thead>
          <tr>
            <th scope="col">título</th>
            <th scope="col">isbn10</th>
            <th scope="col">isbn13</th>
            <th scope="col">editorial</th>
            <th scope="col">fecha de publicación</th>
            <th scope="col">autor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let libro of libros">
            <td style ="word-break:break-all;">{{libro.titulo}}</td>
            <td>{{libro.isbn10}}</td>
            <td>{{libro.isbn13}}</td>
            <td style ="word-break:break-all;">{{libro.editorial}}</td>
            <td>{{libro.fechaPublicacion}}</td>
            <td><span *ngIf="libro.autores && libro.autores.length > 0">{{libro.autores[0].nombre}} {{libro.autores[0].apellidos}}</span></td>
          </tr>
        </tbody>
      </table>
    </ng-template>

    <ng-template [ngIf]="adapt == 1">
      <table class="table table-bordered table-striped table-responsive">
        <thead>
          <tr>
            <th scope="col">título</th>
            <th scope="col">editorial</th>
            <th scope="col">fecha de publicación</th>
            <th scope="col">autor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let libro of libros">
            <td style ="word-break:break-all;">{{libro.titulo}}</td>
            <td style ="word-break:break-all;">{{libro.editorial}}</td>
            <td>{{libro.fechaPublicacion}}</td>
            <td><span *ngIf="libro.autores && libro.autores.length > 0">{{libro.autores[0].nombre}} {{libro.autores[0].apellidos}}</span></td>
          </tr>
        </tbody>
      </table>
    </ng-template>

    <ng-template [ngIf]="adapt == 2">
      <table class="table table-bordered table-striped table-responsive">
        <thead>
          <tr>
            <th scope="col">título</th>
            <th scope="col">autor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let libro of libros">
            <td style ="word-break:break-all;">{{libro.titulo}}</td>
            <td><span *ngIf="libro.autores && libro.autores.length > 0">{{libro.autores[0].nombre}} {{libro.autores[0].apellidos}}</span></td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </div>
</div>
