<div *ngIf="ruta">
<ul *ngIf="paginas?.length > 0" class="pagination">
  <li [ngClass]="paginador.first ? 'disabled page-item' : 'page-item'">
    <a class="page-link" [routerLink]="[ruta, paginador.number - 1]">&laquo;</a>
  </li>

  <li [ngClass]="paginador.first ? 'disabled page-item' : 'page-item'">
    <a class="page-link" [routerLink]="[ruta, 0]">Primera</a>
  </li>

  <li class="page-item" *ngFor="let pagina of paginas"
  [ngClass]="pagina - 1 == paginador.number? 'active' : ''">
    <span class="page-link" *ngIf="pagina - 1 == paginador.number">
      {{ pagina }}
    </span>
    <a class="page-link" *ngIf="pagina - 1 != paginador.number"
    [routerLink]="[ruta, pagina - 1]">
      {{ pagina }}
    </a>
  </li>

  <li [ngClass]="paginador.last ? 'disabled page-item' : 'page-item'">
    <a class="page-link" [routerLink]="[ruta, paginador.totalPages - 1]">
      Última
    </a>
  </li>

  <li [ngClass]="paginador.last ? 'disabled page-item' : 'page-item'">
    <a class="page-link" [routerLink]="[ruta, paginador.number + 1]">&raquo;</a>
  </li>
</ul>
</div>
